.col-gutter-l-btm-left {
    padding-left: 20px;
}

.col-gutter-l-btm-right {
    padding-right: 20px;
}

.col-gutter-l-btm-both {
    padding-right: 20px;
    padding-left: 20px;
}

@media (min-width: 419px) {
    .col-gutter-l-xs-left {
        padding-left: 20px;
    }

    .col-gutter-l-xs-right {
        padding-right: 20px;
    }

    .col-gutter-l-xs-both {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 578px) {
    .col-gutter-l-sm-left {
        padding-left: 20px;
    }

    .col-gutter-l-sm-right {
        padding-right: 20px;
    }

    .col-gutter-l-sm-both {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 768px) {
    .col-gutter-l-md-left {
        padding-left: 20px;
    }

    .col-gutter-l-md-right {
        padding-right: 20px;
    }

    .col-gutter-l-md-both {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 992px) {
    .col-gutter-l-lg-left {
        padding-left: 20px;
    }

    .col-gutter-l-lg-right {
        padding-right: 20px;
    }

    .col-gutter-l-lg-both {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 1200px) {
    .col-gutter-l-xl-left {
        padding-left: 20px;
    }

    .col-gutter-l-xl-right {
        padding-right: 20px;
    }

    .col-gutter-l-xl-both {
        padding-right: 20px;
        padding-left: 20px;
    }
}